<div class="container">
  <div class="form_container">
    <form action="/teams" method="post">
      <ul class="no_bullets">
        <li><input type='text' name='team_name' placeholder='Your Team Name'></li>
        <li><select name="player"></li>
          <% @players.each do |player| %>
            <option value="<%=player.id%>"><%=player.last_name%>, <%=player.first_name%></option>
          <% end %>
        </select>
        <li><a class="button" href="#">Add player</a> <a class="button" href="#">Remove player</a></li>
        <li><input type='submit' value="Create Team"></li>
      </ul>
    </form>
  </div>
</div>
